@media screen and (max-width: 1279px) {
    #section-15 {
        padding-top: 40px;
    }
    
    .section-15-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 1023px) {
    .section-15-content {
        margin-bottom: 30px;
    }
}