#section-15 { 
    max-width: 1920px;
    min-height: 607px;
    justify-content: center;
    background-color: #1A1C27;
    color: $color-white;
    padding-top: 97.5px;
}

.section-15-wrapper {
    max-width: 1195px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-15-content {
    max-width: 383px;
    &:first-child{
        margin-right: 26px;
    }
    &:nth-child(2) {
        margin-right: 33px;
    }
    &:nth-of-type(2)> h3{
        padding-left: 13px;
    }
    &:nth-of-type(3)> h3{
        padding-left: 20px;
    }
    p {
        @include font(14px, 400, 24px);
        color: $secondary-color;
    }
    a {
        text-decoration: none;
        color: $primary-color;
        @include font(16px, 700, 27px);
    }
}

.section-15-box, .section-15-box-1 {
    display: flex;
    width: 190px;
}
.section-15-box div, .section-15-box-1 div {
    width: 5px;
    height: 18px;
    background-color: $primary-color;
    margin-right: 18px;
}

.section-15-box {
    > h3 {
        @include font(24px, 900, 22px);
        margin-bottom: 57px;
    }
}

.section-15-box-1 > h3 {
    @include font(24px, 900, 22px);
    margin-bottom: 42px;
}

.section-15-fox {
    height: 80px;
    align-items: center;
    margin-bottom: 10px;
    h1 {
        font-size: 59.49px;
        line-height: 13.77px;
        margin-right: 9px;
        span {
            color: $primary-color;
        }
    }
    img {
        vertical-align: top;
        width: 18px;
        height: 20px;
        margin-top: -22px;
        vertical-align: top;
    }
}
 
.section-15-content-margin {
    margin-bottom: 25px;
}

.section-15-content-text {
    margin-bottom: 28px;
}