@import './palette';


$sizes: (1: 60px, 2: 50px);

@each $index, $size in $sizes {
    .circle-#{$index} {
        width: $size;
        height: $size;
        border: 1px solid $border-grey-1;
        border-radius: 50%;
        position: absolute;
    }
}

@mixin font($size, $weight, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin flex($justify, $direction, $align) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    align-items: $align;
}

@function circleSize($circle-size){
    @return $circle-size;
}