@import './palette';
$sizes: (1: 60px, 2: 50px);
$characters: ('Q': #ef584d, 'R': #7bc200);
$font-sizes: (30, 60);



@each $index, $character in $characters {
    .color-#{$index} {
        color: $character;
        font-size: 16px;
    }
}

@each $index, $size in $sizes {
    .circle-#{$index} {
        width: $size;
        height: $size;
        border: 1px solid $border-grey-1;
        border-radius: 50%;
        position: absolute;
    }
}

@each $font-size in $font-sizes {
   .font-#{$font-size} {font-size: $font-size + px;} 
}

@mixin font($size, $weight, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin flex($justify, $direction, $align) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    align-items: $align;
}

@mixin filter {
    filter:drop-shadow(8px 8px 10px gray);
}

@mixin gradient {
    background: linear-gradient(to right, #1dd1ad, #45d0ff);
}

@function circleSize($circle-size){
    @return $circle-size;
}

@function width($width-size) {
    @if $width-size == 'desktop' {
      @return 446px;
    } @else {
      @return 300px;
    }
  }

@for $i from 1 to 4 {
    .section-9-menu-column-item:nth-child(#{$i}) h3 {
        @if #{$i} == 1 {
            margin-bottom: 25px;
        } @else if #{$i} == 2 {
            margin-bottom: 22px;
        } @else {
            margin-bottom: 23px;
        }
    }
}
  
.flex {
    display: flex;
}

.flex-row-center {
    @extend .flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center {
    @extend .flex-row-center;
    flex-direction: column;
}

input[type="radio"]:checked:after {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: absolute;
    background-color: $primary-color;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

.section-15-fix-margin-1 {
    margin-left: 10px;
}

.section-15-fix-padding-1 {
    padding-left: 8px;
}

.section-15-fix-padding-2{
    padding-left: 11px;
}

.section-15-fix-padding-3{
    padding-left: 3px;
}