#section-10 {
    max-width: 1920px;
    padding-top: 102px;
    padding-bottom: 100px;
    min-height: 1084px;
    text-align: center;
    h2 {
        margin-bottom: 18px;
        @include font(36px, 300, 20px);
        color: $tertiary-color;
    }
    > p {
        max-width: 630px;
        margin: auto;
        @include font(15px, 400, 24px);
        word-spacing: 0px;
        color: $secondary-color;
    }
    .pricing-content {
        max-width: 1171px;
        background-color: $color-white;
        margin: auto;
        margin-top: 83px;
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(4, 1fr);
        font-size: 14px;
        font-weight: 300;
        color: #686d80;
        word-spacing: -0.3px;
    }
    .pricnig-column {
        display: grid;
        grid-template-rows: 152px repeat(6, 39px) 80px;
        /* grid-template-rows: 152px repeat(6, 38.5px) 83px; */
        grid-gap: 1px;
    }
    #pricing-plan {
        @include font(24px, 700, 40px);
        color: $secondary-color;
    }
    .pricing-black {
        background-color: $bg-color-3;
    }
    .pricing-white {
        background-color: #f6f6f6;
    }
    .pricing-gray {
        background-color: $bg-color-1;
    }
}
.pricing-header {
    flex-direction: column; 
}  
.pricing-gradient {
    position: relative;
    @include gradient;
    border-bottom: 2px solid $border-grey-3;
}
.pricing-header-first {
    width: 100%;
    height: 44%;
    background-color: #34495e;
    font-size: 24px;
    font-weight: 700;
    color: $color-white;
}
.pricing-header-second {
    width: 100%;
    height: 56%;
    flex-direction: column;
    justify-content: start;
    padding-top: 25px;
    h3 {
        color: $color-white;
        @include font(48px, 300, 16px);
        margin-bottom: 13px;
    }
    h4 {
        color: $color-white;
        @include font(14px, 700, 16px);
    }
}
.pricnig-column:first-of-type .pricing-position:first-of-type {
    color: $secondary-color;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.pricnig-column:hover .pricing-header-first {
    position: relative;
    height: 54%;
    top: -10px;
}
.pricnig-column:hover .pricing-button {
    background-color: #3a3e4a!important; 
}

.pricing-last {
    position: relative;
    max-width: 1170px;
    height: 150px;
    margin: auto;
    text-align: start;
    border: 1px solid $bg-color-3;
    margin-top: 102px; 
    &-text {
        width: 1075.5px;
        height: 90px;
        align-items: center;
        justify-content: space-between; 
        p {
            max-width: 823.5px;
            @include font(14px, 400, 24px);
            color: $secondary-color;
            margin-left: -2px; 
        }
        h3 {
            text-align: start;
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 9px;
        }  
    }
} 
.pricing-text-position {
    flex-direction: column;
    height: 100%;
    margin-left: -2px;
} 
.pricing-hover {
    position: absolute;
    width: 10px;
    height: 140px;
    background-color: $primary-color;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    display: none;
    z-index: -1;
}
.pricing-last:hover .pricing-hover {
    display: block;
}