#section-8 {
    max-width: 1920px;
    min-height: 711px;
    background-color: $bg-color-1;
    @include flex(flex-start, column, center);
    padding-top: 102px;
    h1 {
        @include font(36px, 300, 20px);
        margin-bottom: 24px;
    }
    > :nth-child(2)  {
        max-width: 630.7px;
        @include font(14px, 400, 24px);
        text-align: center;
        margin-bottom: 64px;
        color: $secondary-color;
    }
    &-white-box {
        max-width: 1173px;
        height: 150px;
        background-color: $color-white;
        color: $secondary-color;
        font-size: 18px;
        line-height: 30px;
        @include flex(center, column, center);
        padding: 0 119px;
        position: relative;
        border: 1px solid #E7EBEE;
        margin-bottom: 32px;
        :first-child {
            margin-top: -5px;
        }
        &-triangle {
            position: absolute;
            transform: rotate(50deg);
            background-color: $color-white;
            width: 25px;
            height: 25px;
            left: 49%;
            bottom: -1%;
        }
    }
    &-circle {
        width: circleSize(112px);
        height: circleSize(112px);
        background-color: $secondary-color;
        border: 6px solid $color-white;
        border-radius: 50%;
        margin-bottom: 14px;
    }
    h5 {
        @include font(18px, 700, 24px);
        color: $tertiary-color;
        margin-bottom: 3px;
    }
    &-description {
        @include font(14px, 400, 24px);
        color: $secondary-color;
        margin-bottom: 45px;
    }
}