@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


#section-16 {
    font-family: 'Lato', sans-serif; 
    max-width: 1920px;
    min-height: 80px;
    background-color: $bg-color-2;
    color: $secondary-color;
    align-items: center;
    &-wrapper {
        width: 1170px;
        @include flex(space-between, row, center);
        // justify-content: space-between;
        // align-items: center;
        margin: auto;
        flex-wrap: wrap;
    }
    ul {
        width: 433px;
        justify-content: space-between;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                color: $secondary-color;
                @include font(14px, 400, 19px);
                // font-size: 14px;
                // line-height: 19px;
                &:hover {
                    color: $primary-color;
                    border-top: 1px solid $primary-color;
                }
            }
        }
    }
}

.section-16-first{
    align-items: center;
    justify-content: space-between;
    width: 547px;
    p {
        @include font(15px, 400, 24px);
        // font-size: 15px;
        // line-height: 24px;
        span {
            @include font(15px, 400, 24px);
            // font-size: 15px;
            // line-height: 24px;
            color: $primary-color;
        }
    }
    img {
        width: 18px;
        height: 20px;
    }
}

@media screen and (max-width: 1279px) {
    #section-16-wrapper {
        width: 1000px;
    }
}

@media screen and (max-width: 1023px) {
    #section-16-wrapper {
        width: 700px;
        justify-content: center;
    }

    .section-16-first {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 767px) {
    .section-16-first {
        width: auto;
        p {
            @include flex(center, row, center);
            // display: flex;
            // justify-content: center;
            // align-items: center;
            flex-wrap: wrap;
        }
        img {
            display: none;
        }
    }
    
    #section-16 ul {
        width: auto;
    }
}
