@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import '../src/palette';

#section-6 {
    font-family: 'Lato', sans-serif; 
    max-width: 1920px;
    min-height: 534.36px;
    padding-top: 102px;
    h1 {
        @include font(36px, 300, 20px);
        margin-bottom: 24px;
    }
    > p {
        @include font(14px, 400, 24px);
        max-width: 630.7px;
        text-align: center;
        margin-bottom: 46px;
        color: $secondary-color;
    }
    .section-6-services-container {
        text-align: center;
        /* flex-wrap: wrap; */
        width: 100%;
    }
    .section-6-services {
        max-width: 480px;
        min-height: 301.27px;
        border: 1px solid $bg-color-1;
        padding: 44px 69px; 
        cursor: pointer; 
        &:hover {
            background-color: #F9FBFB;
        }  
        img {
            margin-bottom: 39px;
        }
        &:nth-child(2) img {
            margin-bottom: 34px;
        }
        &:last-child h4 {
            margin-bottom: 16px;
        }
        h4 {
            @include font(18px, 700, 24px);
            margin-bottom: 13px;
        }
        p {
            @include font(14px, 400, 24px);
            color: $secondary-color;
        }
    }
}

@media screen and (max-width: 1279px) {
    #section-6 {
        padding: 0;
        min-height: 900px;
        .section-6-services-container {
            flex-wrap: wrap;
        }
        h1 {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 1024px) {
    #section-6 h1 {
        font-size: 23px;
        .section-6-services {
            margin-bottom: 30px;
            padding: 10px;
            @include flex (center, column, center);
            max-width: 375px;
            p {
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #section-6 > p {
        max-width: 400px;
    }
}