#section-11 {
    button {
        border: none;
        color: $primary-color;
        font-size: 15px;
        font-weight: 700;
        margin-top: 7px;
        font-family: 'Lato', sans-serif; 
      }
}