@media screen and (max-width: 1279px) {
    #section-7 h1 {
        font-size: 23px;
    }

    #section-7-navbar {
        width: 80%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        ul {
            width: 80%;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 10px;
            li {
                margin-right: 20px;
            }
        }
        button {
            margin-bottom: 10px;
        }
    }

    #section-7-main {
        justify-content: center;
        >div {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 767px) {
    #section-7-navbar {
        width: 100%;
        flex-direction: column;
        ul {
            display: flex;
            flex-direction: column;
            padding-left: 0px;
            width: unset;
            li {
                margin:0 ;
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
    
    #section-7-navbar ul li:hover,
    #section-7-navbar ul li:hover a {
        @include gradient;
        color: $color-white;
    }
}