#section-14{
    max-width: 1920px;
    height: 101px;
    background-color: $bg-color-2;
    border-top: 1px solid $border-grey-3;
    border-bottom: 1px solid $border-grey-3;
}

.section-14-container{
    justify-content: space-between;
    max-width: 1092px;
    align-items: center;
    height: 100%;
    margin: auto;
}