#section-6 {
    max-width: 1920px;
    min-height: 534.36px;
    padding-top: 102px;
    h1 {
        @include font(36px, 300, 20px);
        margin-bottom: 24px;
    }
    > p {
        @include font(14px, 400, 24px);
        max-width: 630.7px;
        text-align: center;
        margin-bottom: 46px;
        color: $secondary-color;
    }
    .section-6-services-container {
        text-align: center;
        /* flex-wrap: wrap; */
        width: 100%;
    }
    .section-6-services {
        max-width: 480px;
        min-height: 301.27px;
        border: 1px solid $bg-color-1;
        padding: 44px 69px; 
        cursor: pointer; 
        &:hover {
            background-color: #F9FBFB;
        }  
        img {
            margin-bottom: 39px;
        }
        &:nth-child(2) img {
            margin-bottom: 34px;
        }
        &:last-child h4 {
            margin-bottom: 16px;
        }
        h4 {
            @include font(18px, 700, 24px);
            margin-bottom: 13px;
        }
        p {
            @include font(14px, 400, 24px);
            color: $secondary-color;
        }
    }
}