#section-1 {
    max-width: 1920px;
    height: 1280px;
    background-color: $bg-color-2;
    color: $color-white;
    h3:first-child {
        // font-size: 30px;
        letter-spacing: 0.3em;
        margin: -29px 0px 9px 14px;
    }
    h3 span {
        color: $primary-color;
    }
    h1:nth-child(2) {
        // font-size: 60px;
        font-weight: 900;
        margin-bottom: 12px;
    }
    h3:nth-child(3) {
        // font-size: 30px;
        font-weight: 300;
        margin-bottom: 41px; 
        /* 7 */
    }
}
  