@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


#section-16 {
    font-family: 'Lato', sans-serif; 
    max-width: 1920px;
    min-height: 80px;
    background-color: #222533;
    color: #A1B1BC;
    align-items: center;
}

#section-16-wrapper {
    width: 1170px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.section-16-first{
    align-items: center;
    justify-content: space-between;
    width: 547px;
}

.section-16-first p {
    font-size: 15px;
    line-height: 24px;
}

.section-16-first p span {
    font-size: 15px;
    line-height: 24px;
    color: #1ABC9C;
}

.section-16-first img {
    width: 18px;
    height: 20px;
}

#section-16 ul {
    width: 433px;
    justify-content: space-between;
}

#section-16 ul li {
    list-style-type: none;
}

#section-16  ul li a {
    text-decoration: none;
    color: #A1B1BC;
    font-size: 14px;
    line-height: 19px;
}

#section-16  ul li a:hover {
    color: #1ABC9C;
    border-top: 1px solid #1ABC9C;
}

@media screen and (max-width: 1279px) {
    #section-16-wrapper {
        width: 1000px;
    }
}

@media screen and (max-width: 1023px) {
    #section-16-wrapper {
        width: 700px;
        justify-content: center;
    }

    .section-16-first {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 767px) {
    .section-16-first {
        width: auto;
    }
    .section-16-first p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .section-16-first {
        width: auto;
    }

    .section-16-first img {
        display: none;
    }

    #section-16 ul {
        width: auto;
    }
}
