@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


#section-10 {
    font-family: 'Lato', sans-serif; 
    max-width: 1920px;
    padding-top: 102px;
    padding-bottom: 100px;
    min-height: 1084px;
    text-align: center;
  }

#section-10 h2 {
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 36px;
    line-height: 20px;
    color: #2C3E50;
}

#section-10 > p {
    max-width: 630px;
    margin: auto;
    line-height: 24px;
    word-spacing: 0px;
    color: #A1B1BC;
    font-size: 14px;
}
  
.pricing-content {
    max-width: 1171px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 83px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    font-size: 14px;
    font-weight: 300;
    color: #686d80;
    word-spacing: -0.3px;
}
  
.pricnig-column {
    display: grid;
    grid-template-rows: 152px repeat(6, 39px) 80px;
    /* grid-template-rows: 152px repeat(6, 38.5px) 83px; */
    grid-gap: 1px;
}

#pricing-plan {
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
      color: #A1B1BC;
}
   
.pricing-black {
    background-color: #eaebec;
}
  
.pricing-white {
    background-color: #f6f6f6;
}
  
.pricing-gray {
    background-color: #ecf0f1;
}
  
.pricing-header {
    flex-direction: column; 
}
  
.pricing-gradient {
    position: relative;
    background: linear-gradient(to right, #1dd1ad, #45d0ff);
    border-bottom: 2px solid #707070;
}
  
.pricing-header-first {
    width: 100%;
    height: 44%;
    background-color: #34495e;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}
  
.pricing-header-second {
    width: 100%;
    height: 56%;
    flex-direction: column;
    justify-content: start;
    padding-top: 25px;
}
  
.pricnig-column:first-of-type .pricing-position:first-of-type {
    color: #a1b1bc;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.4px;
}
  
.pricing-button {
    width: 120px;
    height: 32px;
    border: none;
    background-color: #1abc9c;
    font-size: 15px;
    color: white;
    font-weight: 700;
    box-shadow: 0px 2px 0px #16a085;
}
  
.pricing-header-second h3 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 13px;
}
  
.pricing-header-second h4 {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    line-height: 16px;
}
  
.pricnig-column:hover .pricing-header-first {
    position: relative;
    height: 54%;
    top: -10px;
}
  
.pricnig-column:hover .pricing-button {
    background-color: #3a3e4a; 
}
  
.color-Q {
    color: #ef584d;
    font-size: 16px; 
}
  
.color-R {
    color: #7bc200;
    font-size: 16px;
}
  
.pricing-last {
    position: relative;
    max-width: 1170px;
    height: 150px;
    margin: auto;
    text-align: start;
    border: 1px solid #eaebec;
    margin-top: 102px; 
}
  
.pricing-last-text {
    width: 1075.5px;
    height: 90px;
    align-items: center;
    justify-content: space-between; 
}
  
.pricing-last-text p {
    max-width: 823.5px;
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    margin-left: -2px; 
}
  
.pricing-last button {
    font-family: 'Lato', sans-serif; 
    width: 176px;
    height: 50px;
    background-color: #1abc9c;
    font-size: 18px;
    font-weight: 700;
    border: none;
    color: #ffffff;
    border-radius: 4px; 
    padding-right: 3px;
    margin-right: 3px;
    cursor: pointer;
}
  
.pricing-text-position {
    flex-direction: column;
    height: 100%;
}
  
.pricing-last-text h3 {
    text-align: start;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 9px;
}
  
.pricing-hover {
    position: absolute;
    width: 10px;
    height: 140px;
    background-color: #1abc9c;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    display: none;
    z-index: -1;
}
  
.pricing-last:hover .pricing-hover {
    display: block;
}