@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#section-2 {
    max-width: 1920px;
    min-height: 90px;
    font-family: 'Lato', sans-serif; 
    box-shadow: 0px 0px 9px rgb(65, 62, 62);
}

#section-2 #logo-wrapper {
    align-items: center;
    width: 154.09px;
    justify-content: space-between;
    margin: 0px 107px 0px -23px;
}

#section-2 #logo-wrapper p {
    font-size: 35.69px;
    font-weight: 400;
}

#section-2 #logo-wrapper p span {
    font-weight: 900;
}

#section-2 ul {
    max-width: 904px;
    flex-wrap: wrap;
    padding-left: 45px;
}

#section-2 ul li {
    list-style-type: none;
    margin-right: 46.5px;
}

#section-2 ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #A1B1BC;
}

#section-2 ul li a:hover{
    color: #1ABC9C;
}


@media screen and (max-width: 1279px) {
    #section-2 {
        flex-wrap: wrap;
    }
    #section-2 #logo-wrapper {
        margin: 0 auto;
    }

    #section-2 ul{
        margin: auto;
        justify-content: center;
    }

    #section-2 ul li {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    #section-2 {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
    #section-2 ul {
        flex-direction: column;
        padding-left: 0px;
    }

    #section-2 ul li {
        margin:0 ;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    #section-2 ul li:hover,
    #section-2 ul li:hover a {
        background: linear-gradient(to right, #1dd1ad, #45d0ff);
        color: white;
    }
}