@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#section-13 {
    font-family: 'Lato', sans-serif; 
    background-color: #2f313d;
    padding: 102px 0px 86px 0px;
    max-width: 1920px;
    min-height: 776px;
    color: white;
    display: flex;
    justify-content: center;
}

.section-13-content {
  width: 570px;
  margin-right: 31px;
}

.section-13-content:first-child {
  margin-left: 28px;
}

.section-13-content > h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 20px;
    margin-bottom: 49px;
}

.section-13-content > p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 17px;
}

.section-13-content-icons {
  width: 87%;
  justify-content: space-between;
  margin-bottom: 29px;
}

.section-13-content-icons i {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.rotate {
  transform: rotate(45deg);
}

.section-13-content-icons i:hover {
  color: #16B5D8;
}

#section-13 form {
  flex-direction: column;
  height: 386px;
  justify-content: space-between;
}

#section-13 form input {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #636372;
  color: white;
}

#section-13 form textarea {
  width: 100%;
  height: 100px;
  background-color: transparent;
  border: 1px solid #636372;
  border-radius: 3px;
}

#section-13 form input::placeholder {
  color: #ffffff;
  padding-left: 20px;
  font-size: 15px;
  line-height: 30px;
}

#section-13 form button {
  font-family: 'Lato', sans-serif; 
  width: 100%;
  height: 56px;
  background-color: #1abc9c;
  font-size: 16px;
  font-weight: 900;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

#section-13 form button:hover {
  filter:drop-shadow(8px 8px 10px gray);
}

.section-13-content-team{
  margin-top: 56px;
}

.section-13-content-team-member {
  display: flex;
  margin-bottom: 40px;
}

.section-13-figure {
  width: 125px;
  height: 125px;
  background-color: white;
  cursor: pointer;
}

.section-13-figure:hover {
  background-color: transparent;
  border: 6px solid white;
}

.section-13-figure-text {
  max-width: 412px;
  margin: -4px 0 0 20px;
}

.section-13-figure-text h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.section-13-figure-text h4, .section-13-figure-text p {
  font-size: 14px;
  line-height: 24px;
}

.section-13-figure-text h4{
  margin-bottom: 6px;
}