@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


#section-6 {
    font-family: 'Lato', sans-serif; 
    max-width: 1920px;
    min-height: 534.36px;
    padding-top: 102px;
}

#section-6 h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 20px;
    margin-bottom: 24px;
}

#section-6 p {
    max-width: 630.7px;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 46px;
}

.section-6-services-container {
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.section-6-services {
    max-width: 480px;
    height: 301.27px;
    border: 1px solid #ECF0F1;
    padding: 44px 69px;    
}

.section-6-services img {
    margin-bottom: 39px;
}

.section-6-services:nth-child(2) img {
    margin-bottom: 34px;
}

.section-6-services:last-child h4 {
    margin-bottom: 16px;
}

.section-6-services h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 13px;
}

.section-6-services p {
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
}


