@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#section-14{
    max-width: 1920px;
    height: 101px;
    background-color: #222533;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.section-14-container{
    justify-content: space-between;
    max-width: 1092px;
    align-items: center;
    height: 100%;
    margin: auto;
}