@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#section-9 {
    font-family: 'Lato', sans-serif; 
    max-width: 1920px;
    min-height: 882px;
    background-color: #353841;
    align-items: center;
    flex-direction: column;
    padding-top: 103px;
    /* background-image: url(../images/Clip.svg); */
    background-position: center center;
}

#section-9 h1 {
    color: white;
    font-weight: 300;
    font-size: 36px;
    line-height: 20px;
    margin-bottom: 21px;
}

#section-9 h1 span {
    color: #26e2bd
}

#section-9 > p {
    font-size: 15px;
    line-height: 24px;
    color: #E8E8E8;
}

#section-9-menu {
    justify-content: space-between;
    max-width: 1173px;
    margin: auto;
    margin-top: 39px;
    flex-wrap: wrap;
}

.section-9-menu-column-1 {
    text-align: end;
    margin-top: 92px;
    margin-right: 62px;
}

.section-9-menu-column-2 {
    text-align: start;
    margin-top: 92px;
}

.section-9-menu-column-item{
    max-width: 300px;
    margin-bottom: 38px;
    color: white;
}

.section-9-menu-column-item h3 {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.section-9-menu-column-item:first-child h3{
    margin-bottom: 25px;
}

.section-9-menu-column-item:nth-child(2) h3 {
    margin-bottom: 22px;
}

.section-9-menu-column-item:nth-child(3) h3 {
    margin-bottom: 23px;
}

.section-9-menu-column-1 h3 {
    margin-right: 10px;
}

.section-9-menu-column-2 h3 {
    margin-left: 6px;
}

.section-9-menu-column-item p {
    font-size: 14px;
    line-height: 24px;
}

.section-9-menu-column-item i {
   font-size: 50px;
   color: #1fdab5;
   background-color: white;
   border-radius: 50%;
   vertical-align: middle;
}

.section-9-mobile {
    width: 446px;
    height: 650px;
    background-color: #A1B1BC;
    border-radius: 34px 34px 0px 0px;
    margin-right: 62px;
}

@media screen and (max-width: 1279px) {
    #section-9 {
        padding: 0;
    }

    #section-9 h1 {
        margin-top: 20px;
        font-size: 23px;
    }

    #section-9-menu {
        justify-content: center;
    }

    .section-9-mobile {
        order: 1;
    }

    .section-9-menu-column-1 {
        order: 2;
    }

    .section-9-menu-column-2 {
        order: 3;
    }

    .section-9-menu-column-item h3 {
        order: 2;
    }

    .section-9-menu-column-item i {
        order: 1;
        margin-right: 10px;
    }

    .section-9-menu-column-item p {
        text-align: start;
    }

    .section-9-menu-column-item div {
        display: flex;
        align-items: center;
    }

    .section-9-menu-column-item:first-child h3 {
        margin: 0;
    }

    .section-9-menu-column-item:nth-child(2) h3 {
        margin: 0;
    }

    .section-9-menu-column-item:nth-child(3) h3 {
        margin: 0;
    }

    .section-9-mobile {
        width: 300px;
        height: 400px;
        margin-bottom: 20px;
    }

    .section-9-menu-column-1, .section-9-menu-column-2 {
        margin: 0;
    }
}


@media screen and (max-width: 1023px) {
    #section-9-menu {
        flex-direction: column;
    }
    .section-9-menu-column-item {
        max-width: 245px;
    }

    .section-9-mobile {
        margin-right: 10px;
    }

    .section-9-menu-column-1 {
        margin-right: 10px;
    }
} 

@media screen and (max-width: 767px) {
    #section-9 > p {
        text-align: center;
    }
}