@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#section-8 {
    font-family: 'Lato', sans-serif; 
    max-width: 1920px;
    min-height: 711px;
    background-color: #ECF0F1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 102px;
}

#section-8 h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 20px;
    margin-bottom: 24px;
}

#section-8  > :nth-child(2)  {
    max-width: 630.7px;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 64px;
    color: #A1B1BC;
}

#section-8-white-box {
    max-width: 1173px;
    height: 150px;
    background-color: #ffffff;
    color: #A1B1BC;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 119px;
    position: relative;
    border: 1px solid #E7EBEE;
    margin-bottom: 32px;
}

#section-8-white-box :first-child {
    margin-top: -5px;
}

#section-8-white-box-triangle {
    position: absolute;
    transform: rotate(50deg);
    background-color: white;
    width: 25px;
    height: 25px;
    left: 49%;
    bottom: -1%;
}

#section-8-circle {
    width: 112px;
    height: 112px;
    background-color: #A1B1BC;
    border-radius: 50%;
    border: 6px solid white;
    margin-bottom: 14px;
}

#section-8 h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #2C3E50;
    margin-bottom: 3px;
}

#section-8-description {
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    margin-bottom: 45px;
}

#section-8 form input {
    transform: scale(1.2);
    margin-right: 10px;
    cursor: pointer;
}

  #section-8 form {
    margin-left: 20px;
}

@media screen and (max-width: 1279px) {
    #section-8 {
        padding-top: 10px;
        min-height: 630px;
    }

    #section-8 h1 {
        font-size: 23px;
    }

    #section-8-white-box p {
        text-align: center;
        font-size: 13px;
    }

    #section-8 > :nth-child(2) {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
    #section-8 h1 {
        font-size: 20px;
    }

    #section-8 > :nth-child(2) {
        font-size: 13px;
    }

    #section-8-white-box {
        height: 300px;
    }

    #section-8 form input {
        transform: scale(1);
    }

    input[type="radio"]:checked:after {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        left: 0px;
        top: 0px;
      }
}

